.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.col-md-2 {
    padding: 1.07rem;
    background-color: rgb(52, 58, 64);
    border-radius: 0.625rem;
    box-shadow: 2px 2px 6px 1px rgb(52, 58, 64);
}

.protected-layout a {
    background-color: rgb(52, 58, 64);
    color: #ABB1B7;
    border: none;
    padding: 1.2rem;
    font-size: 1.25rem;
}

.protected-layout a:hover {
    color: #fff;
     background-color: rgb(112, 119, 125);
     border-radius: 0.625rem;
 }

.tyuhg {
    background-color: rgb(75, 82, 88);
    border-radius: 0.625rem;
    border: none;
}

