.search {
    margin: 1rem 0 1rem 0;
    background-color: lightgrey;
}

.form-inline {
    padding-left: 1rem;
}

i.fa-search {
    font-size: 1rem;
}

button.search {
    background-color: lightgreen;
    cursor: pointer;
    color: #000;
}
/*button.search:focus {*/
     /*box-shadow: none;*/
 /*}*/
/*button.search:hover svg.fa-search:first-child {*/
     /*color: #5b5c5e;*/
 /*}*/


/*button#search.search:active {*/
    /*background-color: rgb(203, 221, 212);*/
    /*color: #5b5c5e;*/
    /*box-shadow: none;*/
    /*border: 0.0625rem solid #000;*/
/*}*/

