div#specific-products {
    border-bottom: 0.0625rem rgb(228, 228, 228) solid;
}

.specific-products {
    font-size: 0.75rem;
}

div#specific-products .col-md-3 {
    padding: 0 0.9375rem 0 0.9375rem;
    background-color: #fff;
    border: none;
    box-shadow: none;
}

div .row span {
    font-size: 1rem;
    font-weight: 600;
}
.btn-warning.btn-sm span {
      font-size: 0.75rem;
      font-weight: 400;
}

h6 {
    font-weight: 600;
}

.btn-warning {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}
.btn-warning svg {
    font-size: 0.875rem;
}
