
div .row {
    border-bottom: 0.08rem grey solid;
    font-size: 0.75rem;
}
span {
    font-size: 1rem;
    font-weight: 600;
}
div .row .btn span {
      font-size: 0.75rem;
      font-weight: 400;
}

h6 {
    font-weight: 600;
}

.btn-warning {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}
.btn-warning svg {
    font-size: 0.875rem;
}
